data/files/download.docker.com/*
!data/files/download.docker.com/.gitkeep
data/wiki/*
!data/wiki/.gitkeep
data/packages/*
!data/packages/.gitkeep
data/registry/*
!data/registry/.gitkeep
data/mirror-tmp/*
!data/mirror-tmp/.gitkeep
images/*
!images/.gitkeep
data/files/os/*
!data/files/os/ubuntu-releases/.gitkeep
!data/files/os/debian-releases/.gitkeep
!data/files/os/proxmox-releases/.gitkeep
containers/downloader/logs/*
!containers/downloader/logs/.gitkeep
