images/*
!images/.gitkeep
data/volumes/downloader/data/files/download.docker.com/*
!data/volumes/downloader/data/files/download.docker.com/.gitkeep
data/volumes/downloader/data/packages/*
!data/volumes/downloader/data/packages/.gitkeep
data/volumes/downloader/data/mirror-tmp/*
!data/volumes/downloader/data/mirror-tmp/.gitkeep
data/volumes/downloader/data/wiki/*
!data/volumes/downloader/data/wiki/.gitkeep
data/volumes/downloader/logs/*
!data/volumes/downloader/logs/.gitkeep
data/volumes/gogs/gogs/*
!data/volumes/gogs/gogs/.gitkeep
data/volumes/trilium/data/*
!data/volumes/trilium/data/.gitkeep